<div class="login-container">
    <div class="login-box">
        <div *ngIf="loginError" class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
              <use xlink:href="#exclamation-triangle-fill"/>
            </svg>
            <div>
              Login failed. Please check your email and password.
            </div>
          </div>
        <h2>Login</h2>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" [(ngModel)]="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" [(ngModel)]="password" required>
            </div>
            <button type="submit" class="login-button">Login</button>
        </form>
    </div>
</div>