<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Security Transactions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a class="nav-link" (click)="onOpenModal(null, 'add')">Add Transaction <span class="sr-only">(current)</span></a>
          </li>
       </ul>
       <form class="form-inline my-2 my-lg-0">
         <input
           type="search"
           [(ngModel)]="searchKey"
           (ngModelChange)="onSearchChange()"
           name="key"
           id="searchName"
           class="form-control mr-sm-2"
           placeholder="Search transactions..."
           required
         >
       </form>
    </div>
  </nav>
  <div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let transaction of transactions" class="col-md-6 col-xl-3">
       <div class="card m-b-30">
             <div class="col-12 card-title align-self-center mb-0">
                <h5>{{transaction?.type}}</h5>
                <p class="m-0">Volume:{{transaction?.volume}}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-phone float-right"></i>ISIN : {{transaction?.share?.isin}}</li>
             <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Price :{{transaction?.price}}</li>
             <li class="list-group-item"><i class="fa fa-phone float-right"></i>Currency : {{transaction?.currency}}</li>
             <li class="list-group-item"><i class="fa fa-phone float-right"></i>Employee Id : {{transaction?.employee?.id}}</li>
          </ul>
          <div class="card-body">
             <div class="float-right btn-group btn-group-sm">
                <a (click)="onOpenModal(transaction, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                <a (click)="onOpenModal(transaction, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
             </div>
          </div>

    </div>
  </div>
  <!-- Add transaction Modal -->
  <div class="modal fade" id="addTransactionModal" tabindex="-1" role="dialog" aria-labelledby="addTransactionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addTransactionModalLabel">Add transaction</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddTransaction(addForm)">
            <div class="form-group">
               <label for="Transaction type">Transaction type</label>
               <input type="text" ngModel name="type" class="form-control" id="type" placeholder="Transaction type" required>
            </div>
            <div class="form-group">
               <label for="currency">Currency</label>
               <input type="text" ngModel name="currency" class="form-control" id="currency" placeholder="Currency" required>
            </div>
            <div class="form-group">
               <label for="fx">FX</label>
               <input type="number" ngModel name="fx" class="form-control" id="fx" placeholder="Fx" required>
            </div>
            <div class="form-group">
               <label for="price">Price</label>
               <input type="number" ngModel name="price" class="form-control" id="price" placeholder="Price" required>
            </div>
            <div class="form-group">
               <label for="volume">Trading volume</label>
               <input type="number" ngModel name="volume" class="form-control" id="volume" placeholder="Trading volume" required>
            </div>
            <div class="form-group">
               <label for="empId">Employee ID</label>
               <input type="number" ngModel name="empId" class="form-control" id="empId" placeholder="Employee ID" required>
           </div>
           <div class="form-group">
               <label for="secId">Security ID</label>
               <input type="number" ngModel name="secId" class="form-control" id="secId" placeholder="Security ID" required>
           </div>
            <div class="modal-footer">
               <button type="button" id="add-transaction-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>
  <!-- Edit Modal -->
  <div class="modal fade" id="updateTransactionModal" tabindex="-1" role="dialog" aria-labelledby="transactionEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateTransactionModalLabel">Edit transaction {{editTransaction?.id}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">
                    <label for="volume">Transaction type</label>
                   <input type="text" ngModel="{{editTransaction?.type}}" name="type" class="form-control" id="type" placeholder="Transaction type">
                </div>
                <input type="hidden" ngModel="{{editTransaction?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                <input type="hidden" ngModel="{{editTransaction?.date}}" name="date" class="form-control" id="date" placeholder="Email">
                <input type="hidden" ngModel="{{editTransaction?.fx}}" name="fx" class="form-control" id="fx" placeholder="Email">
                <div class="form-group">
                   <label for="volume">Trading Volume</label>
                   <input type="number" ngModel="{{editTransaction?.volume}}" name="volume" class="form-control" id="volume" placeholder="Volume">
                </div>
                <div class="form-group">
                   <label for="price">Trade price</label>
                   <input type="number" ngModel="{{editTransaction?.price}}" name="price" class="form-control" id="price" placeholder="Trade price">
                </div>
                <div class="form-group">
                   <label for="currency">Currency</label>
                   <input type="text" ngModel="{{editTransaction?.currency}}" name="currency" class="form-control" id="currency" placeholder="Currency">
                </div>
                <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button (click)="onUpdateTransaction(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>
  <!-- Delete Modal -->
  <div class="modal fade" id="deleteTransactionModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete transaction</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete transaction {{deleteTransaction?.id}}?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteTransaction(deleteTransaction?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>
  </div>
  <!-- Notification for no transactions -->
  <div *ngIf="transactions?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO transactions!</h4>
    <p>No transactions were found.</p>
  </div>
  </div>